{% for user_input, bot_response, timestamp in history %}
  <div class="message-wrapper">
    <div class="message user-message">
      <span>🗣 {{ user_input }}</span>
    </div>
    <div class="datetime">{{ timestamp }}</div>
    <div class="message bot-message">
      <span style="white-space: pre-wrap;">🤖 {{ bot_response | safe }}</span>
    </div>
    <div class="datetime">{{ timestamp }}</div>
  </div>
{% endfor %}
{% if user_input %}
  <div class="message-wrapper">
    <div class="message user-message">
      <span>🗣 {{ user_input }}</span>
    </div>
    <div class="datetime">{{ format_timestamp(datetime.now().strftime('%Y-%m-%d %H:%M:%S')) }}</div>
  </div>
{% endif %}
{% if bot_response %}
  <div class="message-wrapper">
    <div class="message bot-message">
      <span style="white-space: pre-wrap;">🤖 {{ bot_response | safe }}</span>
    </div>
    <div class="datetime">{{ format_timestamp(datetime.now().strftime('%Y-%m-%d %H:%M:%S')) }}</div>
  </div>
{% endif %}